{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Dados do acesso</h1>
</div>
<div>
    {# Verificamos se o e-mail existe na sessão antes de o exibir #}
    {% if email %}
        <p>Você está acessando o sistema por meio do usuário {{ email }}</p>
    {% else %}
        <p>Não foi possível identificar o utilizador. Por favor, faça o login novamente.</p>
    {% endif %}
</div>

<br>

<p>The local date and time is {{ moment(current_time).format('LLLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
